.resetButton{
    width:80%;
    margin-bottom: 20px;
    height:35px;
    border-radius: 5px;
    border:0;
    text-transform: uppercase;
    background-color:  hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    font-family: 'Space Mono', monospace;
    font-size: 15px;
}

.resetButton:hover{
    background-color: hsl(185, 41%, 84%); 
    color:hsl(183, 100%, 15%);
}
.resetDiv{
     margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}