.peopleHeading{
    margin: 0;
    margin-top:40px;
    font-size: 13px;
    color:hsl(184, 14%, 56%);
}
.peopleInput{
    background-image:url('../../aassets/images/icon-person.svg');
    background-repeat:no-repeat;
    background-position:left;
    border:0;
    background-color: #f3f8fb;
    text-align: right;
    outline: none;
    margin: 7px 0 10px 0;
    padding:4px 7px;
    width:100%;
    height:25px;
    font-family: 'Space Mono', monospace;
    font-size:19px;
    color:hsl(183, 100%, 15%);
}
.peopleInput:focus{
    border: 2px solid  hsl(172, 67%, 45%);
}
.errorMessage{
    color:red;
    margin:0;
    
    font-size: 12px;
    text-align: right;
}