
.tipsHeading{
    margin: 0;
    margin-top:20px;
    font-size: 13px;
    color:hsl(184, 14%, 56%);
  
}

ul{
    margin-top:5px;
    list-style: none;
    display:grid; 
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    align-items: center;
}
.button{
    color: white;
    background-color: hsl(183, 100%, 15%);
    border-radius: 4px;
    width: 80px;
    height: 35px;
    border: 0;
    margin:5px;
    text-align: center;
    font-family: 'Space Mono', monospace;
    font-size: 17px;
}

.button:hover{
    background-color:hsl(172, 67%, 45%);
    color:hsl(183, 100%, 15%);
}
.button:focus{
    background-color: hsl(185, 41%, 84%) ; 
    color:hsl(183, 100%, 15%);
    cursor: pointer;
}